{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% load i18n %}

{% block extra_css %}
    <style>
        .mySlides {display:none;}
        .text-small {font-size: 0.875em;}

        textarea {
            width: 100%;
            height: auto;
            overflow-y: scroll;
            padding: 12px 20px;
            background-color: #f8f8f8;
            font-size: 16px;
            white-space: nowrap;
        }

        #mydiv {
            position: absolute;
            z-index: 9;
            background-color: #f1f1f1;
            text-align: left;
            border: 1px solid #d3d3d3;
            min-width: 480px;
        }

        #mydivheader {
            padding: 10px;
            cursor: move;
            z-index: 10;
            background-color: #764a39;
            color: #fff;
            }
    </style>
{% endblock %}

{% block apptitle %}
    {% include 'tipitaka/include/title.html' %}</h2>
{% endblock %}

{% block apptitle_option %}
    <a class="w3-button w3-display-right" onClick="javascript:history.go(-1);">back</a>
{% endblock %}

{% block body %}

    <div class="w3-cell-row">
        <div class="w3-container w3-cell" style="width: 60%">

            <div class="w3-display-container">
                {% for key, value in page.page_ref.items %} 
                    <img class="mySlides w3-image" src="{{ value }}">
                {% endfor %}

                <button class="w3-button w3-black w3-opacity w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-opacity w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>

        <div class="w3-container w3-light-grey w3-cell">
            <div id="mydiv">
                <div id="mydivheader">{% trans 'Page No. #' %}{{ page.page_number }} 
                    <span class="w3-button w3-display-topright">{{ page.edition.code }}. {% trans 'Vol. #' %}{{ page.volume.volume_number }}</span>
                </div>
                
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="w3-container">
                        {{ field|add_class:"w3-input" }}
                    </div>
                    {% endfor %}

                    <div class="w3-container w3-center">
                        <button
                            type="submit"
                            class="w3-btn w3-white w3-border w3-round-xlarge w3-hover-brown w3-round-xlarge w3-margin">
                                {% trans "Update" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block script%}
    <script>
        // images slide //
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        };

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
        };

        // // auto height textarea
        // const txHeight = 16;
        // const tx = document.getElementsByTagName("textarea")        // 
        // for (let i = 0; i < tx.length; i++) {
        //     if (tx[i].value == '') {
        //         tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        //     } else {
        //         tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight + 40) + "px;overflow-y:hidden;");
        //     }
        //     tx[i].addEventListener("input", OnInput, false);
        // 
        // function OnInput(e) {
        //     this.style.height = 0;
        //     this.style.height = (this.scrollHeight + 40) + "px";
        // }

        // make the DIV element draggagle //
        dragElement(document.getElementById("mydiv"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

    </script>
{% endblock %}