{% extends 'main/base.html' %}

{% load static widget_tweaks i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tipitaka/style.css' %}">
{% endblock %}

{% block apptitle %}
    {% include 'tipitaka/include/title.html' %}</h2>
{% endblock %}

{% block apptitle_option %}
    <a class="w3-button w3-round-xlarge w3-hover-amber w3-display-right" onClick="javascript:history.go(-1);">{% trans "Back" %}</a>
{% endblock %}

{% block body %}

    <div class="w3-cell-row">
        <div class="w3-container w3-cell" style="width: 60%">

            <div class="w3-display-container">
                {% for key, value in page.page_ref.items %} 
                    <img class="mySlides w3-image" src="{{ value }}">
                {% endfor %}

                <button class="w3-button w3-dark-grey w3-opacity w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-dark-grey w3-opacity w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>

        <div class="w3-container w3-light-grey w3-cell">
            <div id="mydiv">
                <div id="mydivheader">{% trans 'Page No. #' %}{{ page.page_number }} 
                    <span class="w3-button w3-display-topright">{{ page.edition.code }}. {% trans 'Vol. #' %}{{ page.volume.volume_number }}</span>
                </div>
                
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="w3-container">
                        {{ field|add_class:"w3-input" }}
                    </div>
                    {% endfor %}

                    <div class="w3-container w3-center">
                        <button
                            type="submit"
                            class="w3-button w3-white w3-border w3-round-xlarge w3-hover-brown w3-round-xlarge w3-margin">
                                {% trans "Update" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block script%}
    <script src="{% static 'tipitaka/dragElement.js' %}"></script>
    <script src="{% static 'tipitaka/navSlider.js' %}"></script>
{% endblock %}