{% extends 'main/base.html' %}

{% load widget_tweaks i18n %}

{% block apptitle %}
    <h2>{% trans 'Log In' %}</h2>
{% endblock %}

{% block body %}
    <form action="" method="post"
        class="w3-container w3-text-blue w3-padding"
        style="width:60%;margin:auto;">

        {% csrf_token %}

        {% for field in form %}
            <p>
                <label>{% trans field.label_tag %}</label>
                {{ field|add_class:"w3-input" }}
            </p>
        {% endfor %}

        <button
            type="submit"
            class="w3-button w3-dark-grey w3-hover-brown w3-round-xlarge">
                {% trans "Submit" %}
        </button>
    </form>
{% endblock %}