.mySlides {
    display: none;
}

.text-small {
    font-size: 0.875em;
}

textarea {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    padding: 12px 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    white-space: nowrap;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: left;
    border: 1px solid #d3d3d3;
    min-width: 480px;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #764a39;
    color: #fff;
}