{% load i18n %}

<div class="w3-bar">
    <!-- page preview button -->
    <button type="button"
        id="togglePagesPriview"
        class="w3-bar-item w3-button"
        onclick="$('#pages-preview').toggle(); $('#htmx-translation-form').toggle();">
        <i class="far fa-clipboard"></i>
    </button>

    <!-- toggle table-->
    <button
        class="w3-bar-item w3-button w3-white w3-tooltip"
        onclick="$('#toggleTable').toggleClass('w3-show w3-hide')">
            <icon class="fas fa-tasks"></icon>
            <span class="w3-text w3-tag w3-light-grey">
                {% trans 'Table' %}
            </span>
    </button>
    
    <!-- toolbar group -->
    <span id="toolbar">
        <!-- htmx Split button -->
        {% if split_pada %} 
        <button
            class="btn-toolbar w3-bar-item w3-button w3-white w3-tooltip"
            hx-post="{% url 'htmx_split_pada_in_sentence' translate_word_id=pk %}"
            hx-target="#translation-pada"
            hx-trigger.once="click"
            hx-boost="once"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            onclick="$('#htmx-translation-form').hide(); $('#pages-preview').show();"
        >
            <icon class="far fa-object-ungroup"></icon>
            <span class="w3-text w3-tag w3-light-grey">
                {% trans 'Split' %}
            </span>
        </button>
        {% endif %}
        <!-- htmx Merge button -->
        {% if merge_pada %}
        <button
            class="btn-toolbar w3-bar-item w3-button w3-white w3-tooltip"
            hx-post="{% url 'htmx_merge_pada_in_sentence' translate_word_id=pk %}"
            hx-target="#translation-pada"
            hx-trigger.once="click"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            onclick="$('#htmx-translation-form').hide(); $('#pages-preview').show();"
        >
            <icon class="far fa-object-group"></icon>
            <span class="w3-text w3-tag w3-light-grey">
                {% trans 'Merge' %}
            </span>
        </button>
        {% endif %}
        <!-- htmx Backspace button -->
        {% if backspace %}
        <button
            class="btn-toolbar w3-bar-item w3-right w3-button w3-white w3-tooltip"
            hx-post="{% url 'htmx_backspace' translate_word_id=pk %}"
            hx-trigger.once="click"
            hx-target="#translation-pada"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            onclick="$('#htmx-translation-form').hide(); $('#pages-preview').show();"
        >
            <icon class="fas fa-backspace"></icon>
            <span class="w3-text w3-tag w3-light-grey">
                {% trans 'Backspace' %}
            </span>
        </button>
        {% endif %}
        <!-- htmx Add Sentence button -->
        {% if new_sentence %}
        <button
            class="btn-toolbar w3-bar-item w3-right w3-button w3-white w3-tooltip"
            hx-post="{% url 'htmx_add_sentence' translate_word_id=pk %}"
            hx-trigger.once="click"
            hx-target="#translation-pada"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            onclick="$('#htmx-translation-form').hide(); $('#pages-preview').show();"
        >
            <icon class="fas fa-stream"></icon>
            <span class="w3-text w3-tag w3-light-grey">
                {% trans '+Sentence' %}
            </span>
        </button>
        {% endif %}
    </span>
</div>