{% extends 'main/base.html' %}

{% load widget_tweaks %}

{% load render_table from django_tables2 %}

{% load i18n %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Ākhyātasaddapadamālā' %}
{% endblock %}


{% block apptitle_option %}
    <a href="{% url 'akhyata_saddamala_create' %}" class="w3-btn w3-round-xlarge w3-hover-yellow w3-display-right">{% trans "Add" %}</a>
{% endblock %}

{% block body %}
    {% if filter %}
        <form action="" method="get"
            class="w3-container w3-text-blue w3-padding"
            style="width:60%;margin:auto;">

            {% for field in filter.form %}
                <p>
                    <label>{% trans field.label_tag %}</label>
                    {{ field|add_class:"w3-input" }}
                </p>
            {% endfor %}

            <button
                type="submit"
                class="w3-btn w3-black w3-hover-brown w3-round-xlarge">
                    {% trans "Submit" %}
            </button>
        </form>
    {% endif %}
{% endblock%}