{% extends 'main/base.html' %}

{% block extra_css %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
{% endblock %}

{% load widget_tweaks i18n %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Ākhyātasaddapadamālā' %}
    {% if url_name == 'akhyata_saddamala_create' %}・{% trans 'Create' %}
    {% elif url_name == 'akhyata_saddamala_update' %}・{% trans 'Update' %}
    {% elif url_name == 'akhyata_saddamala_delete' %}・<span class="w3-text-red">{% trans 'Delete' %}</span>{% endif %}
{% endblock %}

{% block apptitle_option %}
    <a class="w3-button w3-round-xlarge w3-hover-amber w3-display-right" onClick="javascript:history.go(-1);">{% trans "Back" %}</a>
{% endblock %}

{% block body %}
    {% if url_name == 'akhyata_saddamala_delete' %}
        <div class="w3-cell-row w3-container">
            <div class="w3-container w3-cell" style="width:35%;">
                <div class="w3-row">
                    <h4>{% trans 'Delete Ākhyātasaddamala' %}</h4>
                    <p>{% trans 'Are you sure you want to delete the following Ākhyātasaddamala?' %}</p>
                    <p><strong>{% trans 'Title' %}:</strong> {{ akhyata_saddamala.title }}</p>
                    <p><strong>{% trans 'Dhātu' %}:</strong> {{ akhyata_saddamala.dhatu }}</p>
                    <p><strong>{% trans 'Paccaya' %}:</strong> {{ akhyata_saddamala.paccaya }}</p>
                    <form method="post" action="{% url 'akhyata_saddamala_delete' akhyata_saddamala.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Confirm Delete" class="w3-button w3-round-xlarge w3-white w3-hover-red w3-border">
                    </form>
                </div>
            </div>
            <div class="w3-container w3-cell">
                <!-- Vattamānā (present tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Vattamānā" %} ({% trans 'present tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.vat_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.vat_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.vat_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.vat_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pañcamī (imperative mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Pañcamī" %} ({% trans 'imperative mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.pan_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.pan_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.pan_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.pan_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Sattamī (Optative Mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Sattamī" %} ({% trans 'Optative Mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.sat_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.sat_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.sat_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.sat_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Parokkhā (Perfect Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Parokkhā" %} ({% trans 'Perfect Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.par_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.par_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.par_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.par_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.par_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.par_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.par_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Hiyyattanī (Imperfect Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Hiyyattanī" %} ({% trans 'Imperfect Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.hit_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.hit_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.hit_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.hit_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Ajjatanī (Aorist Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Ajjatanī" %} ({% trans 'Aorist Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.ajj_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.ajj_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.ajj_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.ajj_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Bhavissanti (Future Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Bhavissanti" %} ({% trans 'Future Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.bha_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.bha_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.bha_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.bha_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Kālātipatti (Conditional Mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Kālātipatti" %} ({% trans 'Conditional Mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ akhyata_saddamala.kal_pu3_para_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu3_para_pl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu3_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu3_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ akhyata_saddamala.kal_pu2_para_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu2_para_pl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu2_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu2_atta_pl }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ akhyata_saddamala.kal_pu1_para_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu1_para_pl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu1_atta_sl }}</td>
                            <td>{{ akhyata_saddamala.kal_pu1_atta_pl }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
        <form method="post">
            {% csrf_token %}
            <div class="w3-container w3-margin">
                <div class="w3-cell-row" style="padding-bottom: 15px;">
                    <div class="w3-container w3-cell">
                        <label>{% trans form.title.label_tag %}</label>
                        {{ form.title|add_class:"w3-input" }}
                    </div>
                    <div class="w3-container w3-cell">
                        <label>{% trans form.dhatu.label_tag %}</label>
                        {{ form.dhatu|add_class:"w3-input" }}
                    </div>
                    <div class="w3-container w3-cell">
                        <label>{% trans form.paccaya.label_tag %}</label>
                        {{ form.paccaya|add_class:"w3-input" }}
                    </div>
                </div>
                <!-- Vattamānā (present tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Vattamānā" %} ({% trans 'present tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.vat_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.vat_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.vat_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.vat_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pañcamī (imperative mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Pañcamī" %} ({% trans 'imperative mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.pan_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.pan_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.pan_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.pan_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Sattamī (Optative Mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Sattamī" %} ({% trans 'Optative Mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.sat_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.sat_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.sat_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.sat_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Parokkhā (Perfect Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Parokkhā" %} ({% trans 'Perfect Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.par_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.par_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.par_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.par_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Hiyyattanī (Imperfect Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Hiyyattanī" %} ({% trans 'Imperfect Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.hit_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.hit_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.hit_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.hit_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Ajjatanī (Aorist Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Ajjatanī" %} ({% trans 'Aorist Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.ajj_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.ajj_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.ajj_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.ajj_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Bhavissanti (Future Tense) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Bhavissanti" %} ({% trans 'Future Tense' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.bha_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.bha_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.bha_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.bha_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Kālātipatti (Conditional Mood) -->
                <h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Kālātipatti" %} ({% trans 'Conditional Mood' %})</h4>
                <table class="w3-table w3-bordered w3-margin">
                    {% include 'padanukkama/include/akhyata_thead.html' %}
                    <tbody>
                        <tr>
                            <td>{% trans '3rd' %}</td>
                            <td>{{ form.kal_pu3_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu3_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu3_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu3_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '2nd' %}</td>
                            <td>{{ form.kal_pu2_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu2_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu2_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu2_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans '1st' %}</td>
                            <td>{{ form.kal_pu1_para_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu1_para_pl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu1_atta_sl|add_class:"w3-input w3-border-0" }}</td>
                            <td>{{ form.kal_pu1_atta_pl|add_class:"w3-input w3-border-0" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w3-center">
                <div class="w3-bar">
                    {% if url_name == 'nama_saddamala_update' %}
                        <a href="{% url 'nama_saddamala_delete' object.pk %}"
                            class="w3-button w3-round-xlarge w3-white w3-border w3-hover-red w3-margin-right" 
                            style="width:150px">
                            {% trans 'Delete' %}
                        </a>
                    {% endif %}
                    <button
                        type="submit" style="width:150px"
                        class="w3-button w3-dark-grey w3-border w3-round-xlarge w3-hover-brown">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock%}