{% extends 'main/base.html' %}

{% load widget_tweaks mptt_tags i18n static %}

{% block extra_css %}
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
        .hidden {
            visibility: hidden;
            height: 10px;
        }
        .codex-editor__redactor {
            padding-bottom: 10px !important;
        }
    </style>
{% endblock %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Literal Translation' %}
    {% if url_name == 'literal_translation_create' %}・{% trans 'Create' %}
    {% elif url_name == 'literal_translation_update' %}・{% trans 'Update' %}
    {% elif url_name == 'literal_translation_delete' %}・<span class="w3-text-red">{% trans 'Delete' %}</span>
    {% endif %}
{% endblock %}

{% block apptitle_option %}
    <a href="{% url 'literal_translation' %}?{{ request.GET.urlencode }}"
        class="w3-button w3-round-xlarge w3-hover-amber w3-display-right">
        {% trans "Back" %}
    </a>
{% endblock %}

{% block body %}
    <!-- case delete -->
    {% if url_name == 'literal_translation_delete' %}
        <div class="w3-container w3-padding"
             style="width:60%; margin:auto;">
            <div class="w3-row">
                <h4>{% trans 'Delete Literal Translation' %}</h4>
                <p>{% trans 'Are you sure you want to delete the following Literal Translation?' %}</p>
                <p><strong>{% trans 'Title' %}:</strong> {{ literal_translation.title }}</p>
                <form method="post" action="{% url 'literal_translation_delete' literal_translation.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Confirm Delete" class="w3-button w3-round-xlarge w3-white w3-hover-red w3-border">
                </form>
            </div>
        </div>
    <!-- case add/update -->
    {% else %}
        <div class="w3-cell-row">
            <!-- left panel -->
            <div class="w3-container w3-cell" style="width:50%">
                <div class="w3-cell-row w3-margin-bottom">    
                    <h4>
                        {% trans 'Padanukkama' %}: {{ object.padanukkama }}
                    </h4>
                    <p>
                        {% trans 'Wordlist version' %}: {{ object.wordlist_version }}
                    </p>
                </div>
                <form action="" method="post">

                    {% csrf_token %}
                    {{ form.media }}

                    {% for field in form %}
                        <p>
                            {% if field.name == 'publication' %}
                                <label>{% trans field.label_tag %}</label>
                                {{ field|add_class:"w3-check" }}
                            {% else %}
                                <label>{% trans field.label_tag %}</label>
                                {{ field|add_class:"w3-input" }}
                            {% endif %}
                        </p>
                    {% endfor %}

                    <div class="w3-center">
                        <div class="w3-bar">
                            {% if url_name == 'literal_translation_update' %}
                                <a href="{% url 'literal_translation_delete' object.pk %}"
                                    class="w3-button w3-round-xlarge w3-white w3-border w3-hover-red w3-margin-right" 
                                    style="width:150px">
                                    {% trans 'Delete' %}
                                </a>
                            {% endif %}
                            <button
                                type="submit" style="width:150px"
                                class="w3-button w3-dark-grey w3-border w3-round-xlarge w3-hover-brown">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- right panel -->
            <div class="w3-container">
                <h4>{% trans 'Table of Contents' %}</h4>
                {% for structure in structures %}
                    <ul>
                        {% recursetree structure.get_descendants_include_self %}
                            <li>
                                {% if node.is_leaf_node %}
                                    <a href="#">{{ node.title }}</a>
                                {% else %}
                                    {{ node.title }}
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul>
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}