{% extends 'main/base.html' %}

{% load widget_tweaks mptt_tags i18n static %}

{% block extra_js %}
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
{% endblock %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Literal Translation' %}
{% endblock %}

{% block apptitle_option %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'padanukkama/sidepanel.css' %}">
{% endblock %}

{% block body %}
    <!-- table of contents sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        {% for structure in structures %}
            <ul>
                {% recursetree structure.get_descendants_include_self %}
                    <li>
                        {% if node.is_leaf_node %}
                            <a href="{% url 'literal_translation_translate' literal_translation.id %}?toc_id={{ node.id }}"
                                style="text-decoration: none;">
                                {{ node.title }}
                            </a>
                        {% else %}
                            {{ node.title }}
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul>
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        {% endfor %}
    </div>
    
    <!-- table of contents toggle menu -->
    <button class="openbtn" onclick="openNav()">☰ {% trans 'Table of Contents' %}</button>

    <!-- selected structure content -->
    <div class="w3-cell-row">
        <div class="w3-container">
            {% if selected_structure %}
                <h4>{{ selected_structure.title }}</h4>
                <div class="w3-small">{{ selected_structure.breadcrumb }}</div>
                {% with selected_structure.get_common_reference as common_reference %}
                    {% if common_reference %}
                        <div class="w3-small">{{ common_reference.wordlist_version }} : {{ common_reference.from_position }} - {{ common_reference.to_position }}</div>
                        <div class="w3-section">
                            {% for each_word in words_list %}
                            <button
                                class="w3-btn w3-tiny"
                                hx-trigger="click"
                                hx-get="{% url "htmx_pada_details" padanukkama_id each_word.word %}"
                                hx-target="#htmx-pada-details"
                            >
                                {{ each_word.word }}
                            </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <!-- transalation operation panel -->
    <div class="w3-cell-row">
        <!-- left panel -->
        <div class="w3-container w3-third">
            <div id="htmx-pada-details"></div>
        </div>
        
        <!-- right panel -->
        <div class="w3-container w3-twothird">
            right panel
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
{% endblock %}