{% extends 'main/base.html' %}

{% load widget_tweaks mptt_tags i18n static %}

{% load translate_tags %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/sortable.min.js'%}"></script>
{% endblock %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Literal Translation' %}
{% endblock %}

{% block apptitle_option %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'padanukkama/sidepanel.css' %}">
    <style>
        .sentence {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- table of contents sidepanel -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        {% for structure in structures %}
            <ul>
                {% recursetree structure.get_descendants_include_self %}
                    <li>
                        {% if node.is_leaf_node %}
                            <a href="{% url 'literal_translation_translate' literal_translation.id %}?structure_id={{ node.id }}"
                                style="text-decoration: none;">
                                {{ node.title }}
                            </a>
                        {% else %}
                            {{ node.title }}
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul>
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        {% endfor %}
    </div>
    
    <!-- toolbar -->
    <div class="w3-cell-row w3-light-grey">
        <div class="w3-container">
            <div class="w3-bar">
                <!-- table of contents toggle menu -->
                <a type="button" onclick="openNav()" class="w3-bar-item w3-button">☰ {% trans 'Table of Contents' %}</a>
                
                <!-- reset this structure -->
                {% if structure %}
                <form
                    method="post"
                    action="{% url 'literal_translation_reset' literal_translation_id structure_id %}"
                    onsubmit="return confirm(`{% trans "Click 'Confirm' to reset the data, or 'Cancel' to dismiss this message." %}`);"
                >
                    {% csrf_token %}
                    <input
                        type="submit"
                        value="↻{% trans 'Reset' %}"
                        class="w3-bar-item w3-button w3-hover-red"/>
                </form>
                {% endif %}

                <!-- switch view -->
                {% if structure %}
                <form
                    class="w3-select w3-bar-item w3-right" name="option" 
                    hx-get="{% url 'htmx_change_word_order' %}"
                    hx-target="#translation-pada"
                    hx-trigger="change"
                >
                    <select name="order_type">
                        <option value="translation">{% trans 'Order by Translation' %}</option>
                        <option value="position">{% trans 'Order by Pāḷi' %}</option>
                    </select>
                    <input type="hidden" name="structure_id" value="{{ structure.id }}">
                    <input type="hidden" name="literal_translation_id" value="{{ literal_translation.id }}">
                </form>                
                {% endif %}
            </div>
        </div>
    </div>

    <!-- transalation operation panel -->
    {% if structure %}
        <div class="w3-cell-row">
            <!-- left panel -->
            <div class="w3-container w3-half">
                <!-- page preview -->
                <div id="pages-preview">
                    {% pages_preview %}
                </div>         
                <!-- operation space -->
                <div id="htmx-translation-form"></div>
            </div>

            <!-- right panel -->
            <div id="translation-pada" class="w3-container w3-half" style="min-height:200vh !important;">
                {% include 'padanukkama/include/translation_pada.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            var wordListHeight = $('#word-list').height();

            handleSortable();
        });

        // Navigation
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }

        // Sortable
        function handleSortable() {
            var sortables = document.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class',
                    onEnd: function(evt) {
                        var sortedIDs = Array.from(evt.from.querySelectorAll('[data-sortable-id]'))
                            .map(button => button.getAttribute('data-sortable-id'));
                        
                        sendSortedData(evt.from.getAttribute('data-post-url'), sortedIDs);
                    }
                });
            }
        }
        
        function sendSortedData(url, sortedIDs) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({ sortedIDs: sortedIDs })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status !== 'success') {
                    console.error('Error updating order:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
                     

        // handlePadaButtonClick 
        function handlePadaButtonClick(button) {
            $('#pages-preview').hide()
            // Get the button element by its ID
            var buttonId = $(button).attr('id');
            var buttonElement = $('#' + buttonId);
            
            // Reset background color for all buttons with class pada-btn
            $('.pada-btn').css('background-color', 'transparent');
            
            // Change the background color of the clicked button
            buttonElement.css('background-color', 'lightgrey');
        }
    </script>
{% endblock %}
