{% extends 'main/blank.html' %}

{% load widget_tweaks i18n static %}

{% load translate_tags %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div id="my-widget-container" style="all: initial;">
        <h4 class="w3-center">
            {{ structure.title }}
        </h4>
        <div class="w3-center w3-small">{{ structure.breadcrumb }}</div>

        {% with structure.get_common_reference as common_reference %}
            {% if common_reference %}
                <div class="w3-center w3-small">{{ common_reference.wordlist_version }} : {{ common_reference.from_position }} - {{ common_reference.to_position }}</div>
                <div id="word-list" class="w3-section" style="margin-bottom:20px !important;">
                    <!-- loop words -->
                    {% regroup words_list by sentence as sentence_list %}
                    {% for sentence_group in sentence_list %}
                        <div style="margin-top: 2px !important; margin-bottom: 1em !important;">
                            <div class="w3-light-grey w3-padding">
                                {% with sentence_group.list|dictsort:"word_position" as sorted_list %}
                                    <span style="padding-left:2em;">{% clear_once_cache %}</span>
                                    {% for word in sorted_list %}
                                        {{ word.sentence|once:word.sentence }}
                                        {% if word.pada %}
                                            <button
                                                id="{{ word.id }}"
                                                class="pada-btn w3-btn w3-round-xlarge w3-small w3-tooltip"
                                                style="border:none; background:none; cursor:pointer; padding:1px 6px;"
                                                onclick="document.getElementById('padanukkamaModal').style.display='block'"
                                                hx-get="{% url 'htmx_translation_helper' word.id %}"
                                                hx-target="#translationHelper"
                                            >
                                                <b>{{ word.word }}</b>
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            {% for word in sentence_group.list %}
                                <!-- Your code to display each word goes here -->
                                <button
                                    id="{{ word.id }}"
                                    class="pada-btn w3-btn w3-round-xlarge w3-small w3-tooltip"
                                    style="border:none; background:none; cursor:pointer; padding:1px 6px;"
                                >
                                    <b>{{ word.word }}</b>  {{ word.translation }}
                                    <span
                                        style="position:absolute;right:0;bottom:18px"
                                        class="w3-text w3-tag w3-tiny w3-round-xlarge w3-brown">
                                        {{ word.sentence }}.{{ word.word_position }}
                                    </span>
                                </button>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <!-- end loop word -->
                </div>
            {% endif %}
        {% endwith %}

        <div id="padanukkamaModal" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span onclick="document.getElementById('padanukkamaModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <div id="translationHelper">aaa</div>
                </div>
            </div>
        </div>   
    </div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.pada-btn').hover(
            function() {
                const hoveredId = $(this).attr('id');
                
                $('.pada-btn').each(function() {
                    if ($(this).attr('id') === hoveredId) {
                        $(this).addClass('w3-pale-yellow');
                    } else {
                        $(this).removeClass('w3-pale-yellow');
                    }
                });
            }, 
            function() {
                $('.pada-btn').removeClass('w3-pale-yellow');
            }
        );
    });
</script>

{% endblock %}