{% extends 'main/base.html' %}

{% load widget_tweaks i18n %}

{% block apptitle %}
    {% include 'tipitaka/include/title.html' %} : {% trans 'Table of Contents' %}・{% trans 'Structure' %}・{% trans 'Common Reference' %}・{% trans 'Delete' %}
{% endblock %}

{% block apptitle_option %}
    <a class="w3-button w3-round-xlarge w3-hover-amber w3-display-right" onClick="javascript:history.go(-1);">{% trans "Back" %}</a>
{% endblock %}

{% block body %}
<div class="w3-container">
    <h4>{% trans 'Are you sure you want to delete' %}</h4>
    <h5>{{ object }}</h5>
    <p>{{ object.about }}</p>

    <div class="w3-row">
        <form method="post">
        {% csrf_token %}
            <button type="submit"
                class="w3-bar-item w3-button w3-white w3-border w3-round-xlarge w3-hover-red w3-margin">
                {% trans 'Confirm Delete' %}
            </button>
        </form>
    </div>
</div>
{% endblock %}