{% extends 'main/base.html' %}

{% load static i18n widget_tweaks mptt_tags %}

{% load render_table from django_tables2 %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'padanukkama/style.css' %}">
{% endblock %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Nāmasaddapadamālā' %}・{% trans 'Update - Pada - Sadda' %}
{% endblock %}

{% block apptitle_option %}
    <a class="w3-button w3-round-xlarge w3-hover-amber w3-display-right" onClick="javascript:history.go(-1);">{% trans "Back" %}</a>
{% endblock %}

{% block body %}
    <div class="w3-cell-row w3-padding">
        <div class="w3-container w3-cell" style="width:35%;">

            <form
                id="my-form" method="post"
                action="{% url 'padanukkama_update_pada_sadda' padanukkama_id %}">
                {% csrf_token %}
                <button type="submit" class="w3-button w3-border w3-round-xlarge w3-hover-blue-grey">
                    {% trans 'Add / Update Pada' %}
                </button>
            </form>

            {% if filter %}
                <form action="" method="get"
                    class="w3-container w3-text-blue w3-padding"
                    style="width:90%;margin:auto;">

                    {% for field in filter.form %}
                        <p>
                            <label>{% trans 'Search' %}</label>
                            {{ field|add_class:"w3-input" }}
                        </p>
                    {% endfor %}

                    <input
                        type="submit"
                        name="filter-submit"
                        value="{% trans "Submit" %}"
                        class="w3-button w3-dark-grey w3-hover-brown w3-round-xlarge"
                    />
                </form>
            {% endif %}

            {% render_table table %}

            <div class="w3-container w3-center">
                {% trans 'found' %} {{ total_rec }} {% trans 'record(s)' %} 
            </div>
        </div>

        <div class="w3-container w3-cell w3-cell-middle">
            <p>Hello W3.CSS Layout.</p>
        </div>
    </div>
{% endblock %}