{% extends 'main/base.html' %}

{% load static i18n widget_tweaks mptt_tags %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
        .hidden {
            visibility: hidden;
            height: 10px;
        }
        .codex-editor__redactor {
            padding-bottom: 10px !important;
        }
    </style>
{% endblock %}

{% block apptitle %}
    {% include 'padanukkama/include/title.html' %} : {% trans 'Pada' %}・{% trans 'Vipatti' %}
{% endblock %}

{% block apptitle_option %}
    <a href="{% url 'padanukkama_pada' pada.padanukkama_id %}?{{ request.GET.urlencode }}"
        class="w3-button w3-round-xlarge w3-hover-amber w3-display-right">
        {% trans "Back" %}
    </a>
{% endblock %}

{% block body %}
    <div class="w3-container w3-light-grey">
        <h4>{{ pada }} {% if pada.parent %}<small>({{ pada.get_parent_and_siblings }})</small>{% endif %}
            <span id="padanukkama" data-value="{{ padanukkama.id }}" class="w3-right">{{ padanukkama }}</span>
        </h4>
    </div>

    <div class="w3-cell-row">
        <!-- left panel -->
        <div class="w3-container w3-cell" style="width:50%">
            <div class="w3-cell-row w3-margin-bottom">
                <form action="" method="post" class="w3-container w3-padding">
                    {% csrf_token %}
                    {{ form.media }}
                  
                    <div style="width:80%;margin:auto;padding-bottom: 25px;">
                        {% for field in form %}
                            <p id="fieldWrapper_{{ field.id_for_label }}">
                                <label>{% trans field.label_tag %}</label>
                                {{ field|add_class:"w3-input" }}
                            </p>
                        {% endfor %}
                        <!-- preview button-->
                        <a id="preview_vipatti" disabled
                            class="w3-button w3-dark-grey w3-hover-brown w3-round-xlarge"
                            onclick="handlePreview(event);">
                            {% trans "Preview" %}
                        </a>
                        <!-- submit data -->
                        <button type="submit"
                            id="submit_data"
                            style="display:none"
                            class="w3-button w3-margin-left w3-dark-grey w3-hover-blue w3-round-xlarge">
                            {% trans "Submit" %}
                        </button>
                        <!-- submit data -->
                        <button
                            id="decoupling"
                            style="display:none"
                            class="w3-button w3-right w3-dark-grey w3-hover-orange w3-round-xlarge"
                            onclick="handleDecoupling(event);">
                            {% trans "Decoupling" %}
                        </button>
                    </div>

                    <div id="result-container"></div>
                </form>
            </div>
        </div>

        <!-- right panel -->
        <div class="w3-container">
            <div class="w3-bar w3-light-grey">
                <button class="w3-bar-item w3-button tablink w3-grey" onclick="openTabs(event,'Abidan')">{% trans 'Abidan' %}</button>
                <button class="w3-bar-item w3-button tablink" onclick="openTabs(event,'Sadda')">{% trans 'Sadda' %}</button>
                <button class="w3-bar-item w3-button tablink" onclick="openTabs(event,'Namasaddamala')">{% trans 'Namasaddamala' %}</button>
                <button class="w3-bar-item w3-button tablink" onclick="openTabs(event,'Akyatasaddamala')">{% trans 'Akyatasaddamala' %}</button>
            </div>
            <!-- Abidan closest matches-->
            <div id="Abidan" class="w3-border tab">
                <header class="w3-container w3-light-grey">
                    <h5>{% trans 'Closest matching words in Abidan' %}</h5>
                </header>

                <div class="w3-container w3-padding">
                    <ul id="abidan-closest-matches" class="w3-ul w3-hoverable">
                    </ul>
                </div>
            </div>
            <!-- Sadda closest matches -->
            <div id="Sadda" class="w3-border tab" style="display:none">
                <header class="w3-container w3-light-grey">
                    <h5>{% trans 'Closest matching words in Sadda' %}</h5>
                </header>

                <div class="w3-container w3-padding">
                    <ul id="sadda-closest-matches" class="w3-ul w3-hoverable">
                    </ul>
                </div>
            </div>
            <!-- Namasaddamala -->
            <div id="Namasaddamala" class="w3-border tab" style="display:none">
                <header class="w3-container w3-light-grey">
                    <h5>{% trans 'Namasaddamala helper table' %}</h5>
                </header>

                <div class="w3-container w3-padding">
                    {% include 'padanukkama/include/namasaddamala.html' %}
                </div>
            </div>
            <!-- Akyatasaddamala -->
            <div id="Akyatasaddamala" class="w3-border tab" style="display:none">
                <header class="w3-container w3-light-grey">
                    <h5>{% trans 'Akyatasaddamala helper table' %}</h5>
                </header>

                <div class="w3-container w3-padding">
                    {% include 'padanukkama/include/akhyatasaddamala.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Add the image modal markup -->
    <div id="imageModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container">
                <span
                    class="w3-button w3-hover-red w3-xlarge w3-display-topright"
                    onclick="closeModal()">&times;</span>
                <img id="modalImage" class="responsive" src="" alt="Modal Image">
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'padanukkama/declension_main.js' %}"></script>
    <script src="{% static 'padanukkama/declension_modals.js' %}"></script>
    <script src="{% static 'padanukkama/declension_tabs.js' %}"></script>

    {% include 'padanukkama/include/declension_existing_sadda.html' %}
    {% include 'padanukkama/include/declension_find_abidan.html' %}
    {% include 'padanukkama/include/declension_find_sadda.html' %}
    {% include 'padanukkama/include/declension_create_vipatti.html' %}
    {% include 'padanukkama/include/declension_decoupling.html' %}

    <script>
        {% if pada.sadda %}
            $(document).ready(function () { create_vipatti(); });
            var decouplingButton = $("#decoupling");

            decouplingButton.css("display", "");
        {% endif %}
    </script>
{% endblock %}
