{% load i18n %}

<table id="akhyatasaddamala-table" class="w3-table w3-bordered">
    <thead>
        <tr>
            <th style="width: 25%">{% trans 'Title' %}</th>
            <th style="width: 25%">{% trans 'Dhātu' %}</th>
            <th style="width: 25%">{% trans 'Paccaya' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for i in akhyatasaddamala_helper %}
        <tr>
            <td style="width: 50%">{{ i.title|default_if_none:"--" }}</td>
            <td style="width: 25%">{{ i.dhatu|default_if_none:"--"  }}</td>
            <td style="width: 25%">{{ i.paccaya.title|default_if_none:"--"  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#akhyatasaddamala-table').DataTable({
            ordering: false,
        });
    });
</script>