{% load i18n %}

<thead>
    <tr>
        <th rowspan="2" style="width: 100px;">{% trans 'Person' %}</th>
        <th colspan="2" class="w3-center">{% trans 'Parassapada' %}</th>
        <th colspan="2" class="w3-center">{% trans 'Attanopada' %}</th>
    </tr>
    <tr>
        <th class="w3-center">{% trans 'sg.' %}</th>
        <th class="w3-center">{% trans 'pl. ' %}</th>
        <th class="w3-center">{% trans 'sg.' %}</th>
        <th class="w3-center">{% trans 'pl. ' %}</th>
    </tr>
</thead>