{% load static i18n %}

<script>
    // Crate vipatti table
    function create_vipatti () {
        var selectedValue = $('#id_template_selection').val();
        var saddaValue = $('#id_sadda').val();

        // Check if template_id and sadda are not empty
        if (selectedValue && saddaValue) {
            $.ajax({
                url: "{% url 'create_vipatti' template_id=0 sadda=1 %}".replace('1', saddaValue).replace('0', selectedValue),
                type: 'GET',
                success: function (response) {
                    console.log(response.result)
                    var matchesHtml = '';
                    var tableHead = ''
                        tableHead += '<thead>'
                        tableHead += '    <tr>'
                        tableHead += '        <th rowspan="2" style="width: 100px;">{% trans "Person" %}</th>'
                        tableHead += '        <th colspan="2" class="w3-center">{% trans "Parassapada" %}</th>'
                        tableHead += '        <th colspan="2" class="w3-center">{% trans "Attanopada" %}</th>'
                        tableHead += '    </tr>'
                        tableHead += '    <tr>'
                        tableHead += '        <th class="w3-center">{% trans "sg." %}</th>'
                        tableHead += '        <th class="w3-center">{% trans "pl." %}</th>'
                        tableHead += '        <th class="w3-center">{% trans "sg." %}</th>'
                        tableHead += '        <th class="w3-center">{% trans "pl." %}</th>'
                        tableHead += '    </tr>'
                        tableHead += '</thead>'
                    
                    // ------------- //
                    // namasaddamala //
                    // ------------- //
                    if (response.sadda_type == 'namasaddamala') {
                        matchesHtml += '<table class="w3-table w3-bordered">'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <th>{% trans "Vibhatti" %}</th>'
                        matchesHtml += '      <th>{% trans "Ekavacana" %}</th>'
                        matchesHtml += '      <th>{% trans "Bahuvacana" %}</th>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Paṭhamā" %}</td>'
                        matchesHtml += '      <td>' + response.result.nom_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.nom_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Ālapana" %}</td>'
                        matchesHtml += '      <td>' + response.result.voc_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.voc_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Dutiyā" %}</td>'
                        matchesHtml += '      <td>' + response.result.acc_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.acc_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Tatiyā" %}</td>'
                        matchesHtml += '      <td>' + response.result.instr_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.instr_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Catutthī" %}</td>'
                        matchesHtml += '      <td>' + response.result.dat_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.dat_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Pañcamī" %}</td>'
                        matchesHtml += '      <td>' + response.result.abl_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.abl_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Chaṭṭhī" %}</td>'
                        matchesHtml += '      <td>' + response.result.gen_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.gen_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '  <tr>'
                        matchesHtml += '      <td>{% trans "Sattamī" %}</td>'
                        matchesHtml += '      <td>' + response.result.loc_sg + '</td>'
                        matchesHtml += '      <td>' + response.result.loc_pl + '</td>'
                        matchesHtml += '  </tr>'
                        matchesHtml += '</table>'
                    // ---------------- //
                    // akhyatasaddamala //
                    // ---------------- //
                    } else if (response.sadda_type == 'akhyatasaddamala') {
                        // Vattamānā (present tense)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Vattamānā" %} ({% trans "present tense" %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.vat_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Pañcamī (imperative mood)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Pañcamī" %} ({% trans 'imperative mood' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.pan_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Sattamī (Optative Mood)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Sattamī" %} ({% trans 'Optative Mood' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.sat_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Parokkhā (Perfect Tense)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Parokkhā" %} ({% trans 'Perfect Tense' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.par_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.par_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.par_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.par_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Hiyyattanī (Imperfect Tense)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Hiyyattanī" %} ({% trans 'Imperfect Tense' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.hit_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Ajjatanī (Aorist Tense)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Ajjatanī" %} ({% trans 'Aorist Tense' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.ajj_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Bhavissanti (Future Tense)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Bhavissanti" %} ({% trans 'Future Tense' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.bha_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                        // Kālātipatti (Conditional Mood)
                        matchesHtml += '<h4 class="w3-center">{% trans "Conjugation of" %} {% trans "Kālātipatti" %} ({% trans 'Conditional Mood' %})</h4>'
                        matchesHtml += '<table class="w3-table w3-bordered w3-margin">'
                        matchesHtml += tableHead
                        matchesHtml += '    <tbody>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "3rd" %}</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu3_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu3_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu3_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu3_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "2nd" %}</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu2_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu2_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu2_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu2_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '        <tr>'
                        matchesHtml += '            <td>{% trans "1st" %}</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu1_para_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu1_para_pl + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu1_atta_sg + '</td>'
                        matchesHtml += '            <td>' + response.result.kal_pu1_atta_pl + '</td>'
                        matchesHtml += '        </tr>'
                        matchesHtml += '    </tbody>'
                        matchesHtml += '</table>'
                    }

                    $('#result-container').html(matchesHtml);
                },
                error: function (xhr, status, error) {
                    // Handle error cases
                    console.error(error);
                }
            });
        } else {
            // Handle the case when template_id or sadda is empty
            console.log("template_id or sadda is empty");
        }
    }

</script>