{% load i18n %}

<script>
    function find_sadda_closest_matches () {
        var id_sadda = $('#id_sadda').val();
        var stringData = id_sadda ? id_sadda : '{{ pada.pada }}';
        $.ajax({
            url: '{% url "find_sadda_closest_matches" %}',
            type: 'GET',
            data: {
                'string': stringData
            },
            beforeSend: function () {
                // Show the loading message before making the AJAX request
                $('#sadda-closest-matches').html('<i id="loading-icon" class="fa fa-spinner fa-spin"></i> {% trans "Loading..." %}');
            },
            success: function (response) {
                var closestMatches = response.closest_matches;
                var matchesHtml = '';

                // Generate the HTML for displaying the closest matches
                if (closestMatches.length === 0) {
                    matchesHtml = '<li>No matches found.</li>';
                } else {
                    for (var i = 0; i < closestMatches.length; i++) {
                        matchesHtml += '<div class="w3-cell-row">';
                        matchesHtml += '     <div class="w3-container w3-cell w3-margin-bottom">';
                        matchesHtml += '     <p>' + closestMatches[i].sadda + '  ' + closestMatches[i].construction +'</p>';
                        matchesHtml += '     <div class="w3-light-grey w3-tiny" style="width:100px;">'
                        matchesHtml += '         <div class="w3-container w3-green" style="width:' + closestMatches[i].score + '%">'
                        matchesHtml +=               closestMatches[i].score + '%';
                        matchesHtml += '         </div>';
                        matchesHtml += '      </div>';
                        matchesHtml += '     </div';
                        matchesHtml += '</div';
                    }
                }

                // Update the sadda-closest-matches ul with the generated HTML
                $('#sadda-closest-matches').html(matchesHtml);
            }
        });
    }

</script>