{% load i18n static %}

{% block extra_js %}
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
{% endblock %}

<table id="namasaddamala-table" class="w3-table w3-bordered">
    <thead>
        <tr>
            <th style="width: 25%">{% trans 'ID' %}</th>
            <th style="width: 25%">{% trans 'Title' %}</th>
            <th style="width: 25%">{% trans 'Type' %}</th>
            <th style="width: 25%">{% trans 'Liṅga' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for i in namasaddamala_helper %}
        <tr>
            <td style="width: 5%">{{ i.id|default_if_none:"--" }}</td>
            <td style="width: 45%">{{ i.title|default_if_none:"--" }}</td>
            <td style="width: 25%">{{ i.nama_type|default_if_none:"--"  }}</td>
            <td style="width: 25%">{{ i.linga.title|default_if_none:"--"  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    $(document).ready(function() {
        var namasaddamalaTable = $('#namasaddamala-table').DataTable({
            ordering: false,
        });

        $('#namasaddamala-table tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
    });

</script>