{% load i18n static %}

{% block extra_js %}
    <script src="{% static 'js/sortable.min.js'%}"></script>
{% endblock %}

<!-- header (show tilte) and button link to sadda -->
<h4>
    {{ structure.title }}
    <span class="w3-right">
        <button
            onclick="document.getElementById('embeddedid').style.display='block'"
            class="w3-button w3-small w3-round-large w3-hover-brown"
        >
            <i class="fas fa-code"></i>
        </button>
    </span>
</h4>

<!-- embededd id -->
<div id="embeddedid" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-win8-brown w3-padding"> 
            <span onclick="document.getElementById('embeddedid').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
            <h4><i class='fas fa-code'></i> {% trans 'Embedded code' %}</h4>
            <div class="">{% trans "Click the 'Copy Code' button to copy this displayed code and paste it onto the webpage where you want it to appear." %}</div>
        </header>
        <div class="w3-container w3-margin-top">
            <textarea id="embed-code" readonly class="w3-input w3-border" style="resize:none;">
<iframe id="my-iframe" src="{% url 'literal_translation_widget' %}?literal_translation_id={{ literal_translation_id }}&structure_id={{ structure_id }}" style="width:100%; border:none;"></iframe>
<script>document.addEventListener("DOMContentLoaded", () => {const iframe = document.getElementById('my-iframe');iframe.onload = () => {try {const iframeContent = iframe.contentWindow.document.body;iframe.style.height = iframeContent.scrollHeight + 'px';} catch (e) {console.error('Could not adjust iframe height', e);}};});</script>
            </textarea>
        </div>
        <footer class="w3-container w3-white">
            <p class="w3-center">
                <button onclick="copyToClipboard()" class="w3-button w3-dark-grey w3-hover-brown w3-round-xlarge w3-center w3-padding">{% trans 'Copy Code' %}</button>
            </p>
        </footer>
    </div>
</div>

<div class="w3-small">{{ structure.breadcrumb }}</div>

<!-- show each sentence-->
{% with structure.get_common_reference as common_reference %}
    {% if common_reference %}
        <div class="w3-small">{{ common_reference.wordlist_version }} : {{ common_reference.from_position }} - {{ common_reference.to_position }}</div>
        <div id="word-list" class="w3-section" style="margin-bottom:1200px !important;">
            <!-- loop words -->
            {% regroup words_list by sentence as sentence_list %}
            {% for sentence_group in sentence_list %}
                <div
                    class="sentence {% if order_type == 'translation' %} sortable {% endif %}"
                    data-post-url="{% url 'htmx_update_translation_sequence_by_sortablejs' %}"
                >
                    {% for word in sentence_group.list %}
                        <!-- display each word goes here -->
                        <button
                            id="{{ word.id }}"
                            data-sortable-id="{{ word.id }}" 
                            class="pada-btn w3-btn w3-round-xlarge w3-small w3-tooltip"
                            style="border:none; background:none; cursor:pointer;"
                            onclick="handlePadaButtonClick(this); $('#htmx-translation-form').show();"
                            hx-get="{% url "htmx_translation_pada" word.id %}"
                            hx-target="#htmx-translation-form"
                        >
                            <b>{{ word.word }}</b>  {{ word.translation }}
                            <span
                                style="position:absolute;right:0;bottom:18px"
                                class="w3-text w3-tag w3-tiny w3-round-xlarge w3-brown">
                                {{ word.sentence }}.{{ word.word_position }}
                            </span>
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}
            <!-- end loop word -->
        </div>
    {% endif %}
{% endwith %}

<!-- script -->
{% block script %}
    <script>
        $(document).ready(function() {
            var wordListHeight = $('#word-list').height();

            handleSortable();
        });

        function sendSortedData(url, sortedIDs) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({ sortedIDs: sortedIDs })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status !== 'success') {
                    console.error('Error updating order:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function copyToClipboard() {
            var copyText = document.getElementById("embed-code").value;
            navigator.clipboard.writeText(copyText).then(function() {
                alert('Copied to clipboard');
            }, function(err) {
                alert('Error in copying text: ', err);
            });
        }
        
    </script>
    
{% endblock %}