{% load static i18n %}

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/chart.js.min.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>

<div>
    <canvas id="monthly_progress"></canvas>
</div>

<script>
    $(document).ready(function(){
        {% for each_result in result %}
            var dates = [{% for obj in each_result %}"{{ obj.data.date }}",{% endfor %}];
        {% endfor %}

        const ctx = document.getElementById('monthly_progress');

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [
                    {% for each_result in result %}
                        {
                            label: "{% trans each_result.wfs %}",
                            data: [{% for obj in each_result.data %}"{{ obj.new_sadda_count }}", {% endfor %}],
                        },
                    {% endfor %}
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    })
</script>