{% load static i18n %}

{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/chart.js.min.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>
{% endblock %}

<div>
    <canvas id="monthly_progress_{{ padanukkama_id }}" style="height: 400px;"></canvas>
</div>

<script>
    // Retrieve the result data from the server-side
    var resultData = {{ result|safe }};

    // Extract the chart data from the result
    var chartData = resultData.result.map(function(item) {
        return {
            label: item.wfs,
            data: item.data.map(function(dataItem) {
                return dataItem.sadda_count;
            }),
            backgroundColor: 'transparent',
            borderColor: getRandomColor(),
            borderWidth: 2
        };
    });

    // Extract the labels from the result
    var chartLabels = resultData.result[0].data.map(function(item) {
        return item.date;
    });

    // Generate a random color
    function getRandomColor() {
        var colors = ['#a4c400', '#00aba9', '#3e65ff', '#6a00ff', '#f472d0', '#a20025', '#fa680', '#e3c800', '#825a2c', '#6d8764', '#647687', '#76608a', '#87794e', '#a0522d'];
        return colors;
    }

    // Create the line chart using Chart.js
    var ctx = document.getElementById('monthly_progress_{{ padanukkama_id }}').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: chartLabels,
            datasets: chartData
        },
        options: {
            plugins: {
                labels: {
                    render: 'value',
                    fontSize: 12,
                    fontStyle: 'bold'
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Sadda'
                    },
                    beginAtZero: true,
                    ticks: {
                        min: 0,
                        max: 500,
                        stepSize: 10
                    },
                },
            },
            legend: {
                display: true
            }
        }
    });

;
</script>
