{% load static i18n %}

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/chart.js.min.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>

<div>
    <span id="msg_{{ padanukkama_id }}"></span>
    <canvas id="translation_process_{{ padanukkama_id }}"></canvas>
</div>

<script>
    $(document).ready(function(){
        {% if not sadda_by_state %}
            $('#msg_{{ padanukkama_id }}').text('{% trans "Not started yet" %}');
        {% endif %}
        
        const ctx = document.getElementById('translation_process_{{ padanukkama_id }}');
        var xValues = [{% for count in sadda_by_state %}"{{ count.state }}",{% endfor %}];
        var yValues = [{% for count in sadda_by_state %}{{ count.count }},{% endfor %}];

        var colors = ['#a4c400', '#00aba9', '#3e65ff', '#6a00ff', '#f472d0', '#a20025', '#fa680', '#e3c800', '#825a2c', '#6d8764', '#647687', '#76608a', '#87794e', '#a0522d'];

        new Chart(ctx, {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: colors,
                    data: yValues
                }]
            },
            options: {
                plugins: {
                    labels: {
                        render: 'percentage',
                        fontColor: function (data) {
                            var rgb = hexToRgb(data.dataset.backgroundColor[data.index]);
                            var threshold = 140;
                            var luminance = 0.299 * rgb.r + 0.587 * rgb.g + 0.114 * rgb.b;
                            return luminance > threshold ? 'black' : 'white';
                        },
                    }
                }
            }
        });
    })
</script>