{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% block extra_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <section class="container">
        {% include "main/navbar.html" %}
        <main class="container-fluid" style="padding-bottom: 100px;">

            <header class="w3-container w3-win8-brown">
                <div class="w3-display-container">
                    <h5>{% block apptitle %}{% endblock %}</h5>
                    {% block apptitle_option %}{% endblock %}
                </div>
            </header>

            {% block message %}
                {% if messages %}
                    <div class="w3-cell-row">
                        {% for m in messages %}
                            <div class="w3-panel {% if m.tags %}{{ m.tags }}{% endif %} w3-display-container w3-cell">
                                <span onclick="this.parentElement.style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                                <p>{{ m }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block body %}{% endblock %}
        </main>

        <footer class="footer-div">
            {% include "main/footer.html" %}
        </footer>
    </section>

    {% block script %}
    {% endblock %}
</body>
</html>