{% extends 'main/blank.html' %}

{% load i18n %}

{% block body %}

{% block extra_css %}
<style>
    td {
        word-spacing: 10px;  /* ปรับระยะห่างระหว่างคำเป็น 10px */
    }    
</style>
{% endblock %}

{% for linga in lingas %}
    <h2>{{ linga.title }} ({{ linga.num_namasaddamala }} items)</h2>
    <table class="w3-table w3-bordered">
        <tr>
            <th style="width:20%">{% trans 'Title' %}</th>
            <th style="width:40%">{% trans 'Type' %}</th>
            <th style="width:20%">{% trans 'Liṅga' %}</th>
            <th style="width:20%">{% trans 'Kāranta' %}</th>
        </tr>
        {% for item in linga.namasaddamala_set.all %}
            <tr>
                <td style="width:20%">{{ item.title }}</td>
                <td style="width:40%">{{ item.nama_type }}</td>
                <td style="width:20%">{{ item.linga.title }}</td>
                <td style="width:20%">{{ item.karanta.title }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{% endblock %}